In [2]:
import pandas as pd
import torch
from torch.utils.data import Dataset, DataLoader
from custom_data_set_class import CustomDataset
import numpy as np
import sys
sys.path.append('../one_hot_module_repo')

from one_hot_module.one_hot_module import OneHotManager

In [3]:

csv_file_path = "rhc.csv"
dataset = CustomDataset(csv_file_path)

Name of the last column: ptid

In [4]:
df = dataset.data
df.head()

,Unnamed: 0,cat1,cat2,ca,sadmdte,dschdte,dthdte,lstctdte,death,cardiohx,...,meta,hema,seps,trauma,ortho,adld3p,urin1,race,income,ptid
0,1,COPD,NaN,Yes,11142,11151.0,NaN,11382,No,0,...,No,No,No,No,No,0.0,NaN,white,Under $11k,5
1,2,MOSF w/Sepsis,NaN,No,11799,11844.0,11844.0,11844,Yes,1,...,No,No,Yes,No,No,NaN,1437.0,white,Under $11k,7
2,3,MOSF w/Malignancy,MOSF w/Sepsis,Yes,12083,12143.0,NaN,12400,No,0,...,No,No,No,No,No,NaN,599.0,white,$25-$50k,9
3,4,ARF,NaN,No,11146,11183.0,11183.0,11182,Yes,0,...,No,No,No,No,No,NaN,NaN,white,$11-$25k,10
4,5,MOSF w/Sepsis,NaN,No,12035,12037.0,12037.0,12036,Yes,0,...,No,No,No,No,No,NaN,64.0,white,Under $11k,11

In [5]:
df = df.fillna('Missing_Data')



my_column_manager = OneHotManager(df, inplace = True)

In [6]:
#  split the dataset in columns for visualisation : 
columns_0_19 = df.iloc[:, 0:20] 

columns_0_19.head()

,Unnamed: 0,cat1,cat2,ca,sadmdte,dschdte,dthdte,lstctdte,death,cardiohx,chfhx,dementhx,psychhx,chrpulhx,renalhx,liverhx,gibledhx,malighx,immunhx,transhx
0,1,COPD,Missing_Data,Yes,11142,11151.0,Missing_Data,11382,No,0,0,0,0,1,0,0,0,1,0,0
1,2,MOSF w/Sepsis,Missing_Data,No,11799,11844.0,11844.0,11844,Yes,1,1,0,0,0,0,0,0,0,1,1
2,3,MOSF w/Malignancy,MOSF w/Sepsis,Yes,12083,12143.0,Missing_Data,12400,No,0,0,0,0,0,0,0,0,1,1,0
3,4,ARF,Missing_Data,No,11146,11183.0,11183.0,11182,Yes,0,0,0,0,0,0,0,0,0,1,0
4,5,MOSF w/Sepsis,Missing_Data,No,12035,12037.0,12037.0,12036,Yes,0,0,0,0,0,0,0,0,0,0,0

In [7]:
columns_20_39 = df.iloc[:, 20:40] 

columns_20_39.head()

,amihx,age,sex,edu,surv2md1,das2d3pc,t3d30,dth30,aps1,scoma1,meanbp1,wblc1,hrt1,resp1,temp1,pafi1,alb1,hema1,bili1,crea1
0,0,70.25098,Male,12.000000,0.640991,23.50000,30,No,46,0,41.0,22.097656,124,10.0,38.69531,68.00000,3.500000,58.000000,1.009766,1.199951
1,0,78.17896,Female,12.000000,0.755000,14.75195,30,No,50,0,63.0,28.898438,137,38.0,38.89844,218.31250,2.599609,32.500000,0.699951,0.599976
2,0,46.09198,Female,14.069916,0.317000,18.13672,30,No,82,0,57.0,0.049995,130,40.0,36.39844,275.50000,3.500000,21.097656,1.009766,2.599609
3,0,75.33197,Female,9.000000,0.440979,22.92969,30,No,48,0,55.0,23.296875,58,26.0,35.79688,156.65625,3.500000,26.296875,0.399963,1.699951
4,0,67.90997,Male,9.945259,0.437000,21.05078,2,Yes,72,41,65.0,29.699219,125,27.0,34.79688,478.00000,3.500000,24.000000,1.009766,3.599609

In [8]:
columns_40_59 = df.iloc[:, 40:60] 

columns_40_59.head()

,sod1,pot1,paco21,ph1,swang1,wtkilo1,dnr1,ninsclas,resp,card,neuro,gastr,renal,meta,hema,seps,trauma,ortho,adld3p,urin1
0,145,4.000000,40.0,7.359375,No RHC,64.69995,No,Medicare,Yes,Yes,No,No,No,No,No,No,No,No,0.0,Missing_Data
1,137,3.299805,34.0,7.329102,RHC,45.69998,No,Private & Medicare,No,No,No,No,No,No,No,Yes,No,No,Missing_Data,1437.0
2,146,2.899902,16.0,7.359375,RHC,0.00000,No,Private,No,Yes,No,No,No,No,No,No,No,No,Missing_Data,599.0
3,117,5.799805,30.0,7.459961,No RHC,54.59998,No,Private & Medicare,Yes,No,No,No,No,No,No,No,No,No,Missing_Data,Missing_Data
4,126,5.799805,17.0,7.229492,RHC,78.39996,Yes,Medicare,No,Yes,No,No,No,No,No,No,No,No,Missing_Data,64.0

In [9]:
columns_60_62 = df.iloc[:, 60:] 

columns_60_62.head()

    race      income  ptid
0  white  Under $11k     5
1  white  Under $11k     7
2  white    $25-$50k     9
3  white    $11-$25k    10
4  white  Under $11k    11

In [10]:
print(len(df.columns))
          
print(df.columns)

63
Index(['Unnamed: 0', 'cat1', 'cat2', 'ca', 'sadmdte', 'dschdte', 'dthdte',
       'lstctdte', 'death', 'cardiohx', 'chfhx', 'dementhx', 'psychhx',
       'chrpulhx', 'renalhx', 'liverhx', 'gibledhx', 'malighx', 'immunhx',
       'transhx', 'amihx', 'age', 'sex', 'edu', 'surv2md1', 'das2d3pc',
       't3d30', 'dth30', 'aps1', 'scoma1', 'meanbp1', 'wblc1', 'hrt1', 'resp1',
       'temp1', 'pafi1', 'alb1', 'hema1', 'bili1', 'crea1', 'sod1', 'pot1',
       'paco21', 'ph1', 'swang1', 'wtkilo1', 'dnr1', 'ninsclas', 'resp',
       'card', 'neuro', 'gastr', 'renal', 'meta', 'hema', 'seps', 'trauma',
       'ortho', 'adld3p', 'urin1', 'race', 'income', 'ptid'],
      dtype='object')

In [11]:
len(columns_60_62.columns)

3

In [12]:



unique_value_counts = []

# Loop over each column in the DataFrame
for col in df.columns:
    # Count the number of unique values in the current column
    num_unique_values = df[col].nunique()
    
    # Append the result to the list
    unique_value_counts.append([col, num_unique_values])

# Print the results
for col, count in unique_value_counts:
    print(f"Column '{col}' has {count} unique values.")

Column 'Unnamed: 0' has 5735 unique values.
Column 'cat1' has 9 unique values.
Column 'cat2' has 7 unique values.
Column 'ca' has 3 unique values.
Column 'sadmdte' has 1401 unique values.
Column 'dschdte' has 1487 unique values.
Column 'dthdte' has 1593 unique values.
Column 'lstctdte' has 932 unique values.
Column 'death' has 2 unique values.
Column 'cardiohx' has 2 unique values.
Column 'chfhx' has 2 unique values.
Column 'dementhx' has 2 unique values.
Column 'psychhx' has 2 unique values.
Column 'chrpulhx' has 2 unique values.
Column 'renalhx' has 2 unique values.
Column 'liverhx' has 2 unique values.
Column 'gibledhx' has 2 unique values.
Column 'malighx' has 2 unique values.
Column 'immunhx' has 2 unique values.
Column 'transhx' has 2 unique values.
Column 'amihx' has 2 unique values.
Column 'age' has 5036 unique values.
Column 'sex' has 2 unique values.
Column 'edu' has 42 unique values.
Column 'surv2md1' has 1522 unique values.
Column 'das2d3pc' has 1023 unique values.
Column 't3d30' has 29 unique values.
Column 'dth30' has 2 unique values.
Column 'aps1' has 123 unique values.
Column 'scoma1' has 11 unique values.
Column 'meanbp1' has 178 unique values.
Column 'wblc1' has 520 unique values.
Column 'hrt1' has 189 unique values.
Column 'resp1' has 72 unique values.
Column 'temp1' has 118 unique values.
Column 'pafi1' has 1342 unique values.
Column 'alb1' has 57 unique values.
Column 'hema1' has 450 unique values.
Column 'bili1' has 266 unique values.
Column 'crea1' has 148 unique values.
Column 'sod1' has 73 unique values.
Column 'pot1' has 81 unique values.
Column 'paco21' has 266 unique values.
Column 'ph1' has 96 unique values.
Column 'swang1' has 2 unique values.
Column 'wtkilo1' has 922 unique values.
Column 'dnr1' has 2 unique values.
Column 'ninsclas' has 6 unique values.
Column 'resp' has 2 unique values.
Column 'card' has 2 unique values.
Column 'neuro' has 2 unique values.
Column 'gastr' has 2 unique values.
Column 'renal' has 2 unique values.
Column 'meta' has 2 unique values.
Column 'hema' has 2 unique values.
Column 'seps' has 2 unique values.
Column 'trauma' has 2 unique values.
Column 'ortho' has 2 unique values.
Column 'adld3p' has 9 unique values.
Column 'urin1' has 1441 unique values.
Column 'race' has 3 unique values.
Column 'income' has 4 unique values.
Column 'ptid' has 5735 unique values.

In [13]:
discrete = []
continuous = []
unsure = [] 


for col, num_uniq in unique_value_counts :
    if num_uniq > 100 :
        continuous.append(col)
    elif num_uniq < 10 :
        discrete.append(col)
    else :
        unsure.append(col)


print(len(continuous))
print(continuous)

21
['Unnamed: 0', 'sadmdte', 'dschdte', 'dthdte', 'lstctdte', 'age', 'surv2md1', 'das2d3pc', 'aps1', 'meanbp1', 'wblc1', 'hrt1', 'temp1', 'pafi1', 'hema1', 'bili1', 'crea1', 'paco21', 'wtkilo1', 'urin1', 'ptid']

In [14]:
print(len(discrete))
print(discrete)

print(discrete)

34
['cat1', 'cat2', 'ca', 'death', 'cardiohx', 'chfhx', 'dementhx', 'psychhx', 'chrpulhx', 'renalhx', 'liverhx', 'gibledhx', 'malighx', 'immunhx', 'transhx', 'amihx', 'sex', 'dth30', 'swang1', 'dnr1', 'ninsclas', 'resp', 'card', 'neuro', 'gastr', 'renal', 'meta', 'hema', 'seps', 'trauma', 'ortho', 'adld3p', 'race', 'income']
['cat1', 'cat2', 'ca', 'death', 'cardiohx', 'chfhx', 'dementhx', 'psychhx', 'chrpulhx', 'renalhx', 'liverhx', 'gibledhx', 'malighx', 'immunhx', 'transhx', 'amihx', 'sex', 'dth30', 'swang1', 'dnr1', 'ninsclas', 'resp', 'card', 'neuro', 'gastr', 'renal', 'meta', 'hema', 'seps', 'trauma', 'ortho', 'adld3p', 'race', 'income']

In [15]:
print(len(unsure))
print(unsure)

8
['edu', 't3d30', 'scoma1', 'resp1', 'alb1', 'sod1', 'pot1', 'ph1']

In [16]:

unique_values_dict_discrete = my_column_manager.make_unique_values_dictionary(discrete) 

print((f"unique values : "))
for col , list_uniq in unique_values_dict_discrete.items() :
    print(f"{col}: {list_uniq}")

unique values :
cat1: ['COPD', 'MOSF w/Sepsis', 'MOSF w/Malignancy', 'ARF', 'CHF', 'Coma', 'Cirrhosis', 'Lung Cancer', 'Colon Cancer']
cat2: ['Missing_Data', 'MOSF w/Sepsis', 'Coma', 'MOSF w/Malignancy', 'Lung Cancer', 'Cirrhosis', 'Colon Cancer']
ca: ['Yes', 'No', 'Metastatic']
death: ['No', 'Yes']
cardiohx: [0, 1]
chfhx: [0, 1]
dementhx: [0, 1]
psychhx: [0, 1]
chrpulhx: [1, 0]
renalhx: [0, 1]
liverhx: [0, 1]
gibledhx: [0, 1]
malighx: [1, 0]
immunhx: [0, 1]
transhx: [0, 1]
amihx: [0, 1]
sex: ['Male', 'Female']
dth30: ['No', 'Yes']
swang1: ['No RHC', 'RHC']
dnr1: ['No', 'Yes']
ninsclas: ['Medicare', 'Private & Medicare', 'Private', 'Medicaid', 'No insurance', 'Medicare & Medicaid']
resp: ['Yes', 'No']
card: ['Yes', 'No']
neuro: ['No', 'Yes']
gastr: ['No', 'Yes']
renal: ['No', 'Yes']
meta: ['No', 'Yes']
hema: ['No', 'Yes']
seps: ['No', 'Yes']
trauma: ['No', 'Yes']
ortho: ['No', 'Yes']
adld3p: [0.0, 'Missing_Data', 2.0, 5.0, 3.0, 6.0, 1.0, 7.0, 4.0]
race: ['white', 'black', 'other']
income: ['Under $11k', '$25-$50k', '$11-$25k', '> $50k']

In [17]:
print("test")
unique_values_dict_unsure = my_column_manager.make_unique_values_dictionary(unsure) 




print((f"unique values : "))
for col , list_uniq in unique_values_dict_unsure.items() :
    print(f"{col}: {list_uniq}")

test
unique values :
edu: [12.0, 14.069916, 9.0, 9.945259, 8.0, 14.0, 12.821571, 11.040535, 15.0, 16.0, 3.0, 8.436928, 13.611382, 11.0, 17.0, 7.0, 13.0, 4.0, 10.0, 11.421669, 19.0, 6.0, 11.704216, 0.0, 14.252106, 18.0, 24.0, 5.0, 20.0, 23.0, 11.522331, 1.0, 2.0, 21.0, 13.649826, 13.262733, 15.139847, 22.0, 27.0, 26.0, 30.0, 25.0]
t3d30: [30, 2, 13, 19, 15, 6, 5, 3, 22, 7, 16, 10, 4, 11, 20, 23, 9, 21, 8, 14, 27, 17, 18, 12, 28, 24, 25, 26, 29]
scoma1: [0, 41, 26, 100, 9, 37, 94, 44, 55, 61, 89]
resp1: [10.0, 38.0, 40.0, 26.0, 27.0, 36.0, 34.0, 30.0, 12.0, 37.0, 39.0, 48.0, 20.0, 52.0, 22.0, 8.0, 0.0, 33.0, 42.0, 44.0, 32.0, 28.0, 16.0, 47.0, 24.0, 14.0, 11.0, 50.0, 6.0, 56.0, 4.0, 18.0, 35.0, 31.0, 15.0, 9.0, 45.0, 25.0, 58.0, 62.0, 41.0, 63.0, 60.0, 23.0, 13.0, 29.0, 49.0, 17.0, 43.0, 53.0, 64.0, 54.0, 70.0, 65.0, 80.0, 46.0, 66.0, 7.0, 55.0, 69.0, 21.0, 5.0, 51.0, 2.0, 72.0, 68.0, 3.0, 19.0, 94.29688, 90.0, 100.0, 59.0]
alb1: [3.5, 2.5996094, 3.0996094, 2.699707, 3.0, 2.5, 2.2998047, 2.199707, 1.7998047, 3.3999023, 2.3999023, 4.5, 3.8999023, 1.8999023, 2.7998047, 4.0, 1.5998535, 3.199707, 4.1992188, 3.5996094, 4.2998047, 4.3994141, 4.0996094, 2.0, 3.2998047, 0.8999023, 1.0998535, 2.8999023, 4.6992188, 2.0996094, 1.5, 3.699707, 3.7998047, 4.5996094, 1.1999512, 0.5, 1.6999512, 1.2998047, 1.3999023, 1.0, 4.7998047, 4.8994141, 5.0, 11.0, 2.6396484, 0.7999268, 6.2998047, 0.6999512, 5.5, 5.6992188, 6.5996094, 0.2999878, 29.0, 0.3999634, 5.7998047, 5.0996094, 5.1992188]
sod1: [145, 137, 146, 117, 126, 138, 136, 133, 132, 147, 134, 150, 131, 143, 135, 130, 142, 144, 122, 127, 139, 123, 129, 141, 149, 128, 140, 151, 155, 124, 110, 125, 148, 118, 157, 121, 112, 152, 160, 156, 172, 159, 119, 158, 107, 154, 168, 120, 114, 174, 165, 163, 153, 173, 102, 113, 162, 106, 161, 111, 115, 166, 116, 103, 105, 109, 177, 178, 164, 101, 169, 167, 170]
pot1: [4.0, 3.299805, 2.899902, 5.799805, 5.399414, 3.699707, 4.099609, 3.099609, 5.299805, 3.199707, 4.699219, 3.599609, 7.299805, 8.199219, 4.299805, 3.799805, 5.699219, 7.599609, 3.5, 5.199219, 4.799805, 2.799805, 3.899902, 4.899414, 5.099609, 3.399902, 2.099609, 4.199219, 7.799805, 5.0, 4.399414, 2.699707, 5.599609, 7.399414, 5.5, 7.0, 9.298828, 2.599609, 2.299805, 6.199219, 4.599609, 3.0, 6.399414, 2.399902, 6.0, 4.5, 6.799805, 8.898438, 5.899414, 2.5, 2.0, 6.099609, 6.899414, 1.099854, 6.599609, 2.199707, 6.699219, 11.898438, 6.5, 6.299805, 8.099609, 9.0, 7.699219, 7.099609, 8.5, 1.699951, 8.798828, 7.5, 7.199219, 1.199951, 8.0, 1.799805, 8.298828, 9.398438, 1.899902, 8.599609, 10.398438, 8.398438, 1.399902, 8.699219, 7.899414]
ph1: [7.359375, 7.329102, 7.459961, 7.229492, 7.299805, 7.379883, 7.55957, 7.399998, 7.349609, 7.439453, 7.369141, 7.469727, 7.30957, 7.509766, 7.449219, 7.399414, 7.319336, 7.389648, 7.429688, 7.339844, 7.529297, 7.539062, 7.279297, 7.099609, 7.5, 7.40918, 7.239258, 7.489258, 7.419922, 7.259766, 7.289062, 7.479492, 7.549805, 7.219727, 7.209961, 7.569336, 7.149414, 7.599609, 7.25, 6.939453, 6.949219, 7.189453, 7.579102, 7.269531, 7.079102, 7.519531, 7.169922, 7.019531, 7.089844, 7.609375, 7.15918, 6.969727, 7.069336, 7.129883, 7.199219, 7.119141, 7.05957, 7.689453, 6.979492, 7.589844, 7.009766, 7.629883, 7.139648, 7.639648, 6.869141, 7.179688, 6.579102, 7.709961, 6.959961, 7.109375, 6.90918, 7.039062, 6.989258, 7.049805, 6.709961, 7.619141, 7.65918, 7.769531, 6.919922, 7.0, 6.829102, 6.929688, 6.899414, 7.719727, 6.75, 6.80957, 7.649414, 6.849609, 7.029297, 6.839844, 6.819336, 6.879883, 7.75, 7.699219, 6.769531, 6.889648]

In [18]:
my_column_manager.make_unique_values_dictionary(['swang1'])

{'swang1': ['No RHC', 'RHC']}

In [19]:


my_column_manager.split_multiple_columns(discrete)

my_column_manager.df =my_column_manager.df.copy() # attempt to defragment df

print(len(df.columns))
          
print("test1")

print(df.columns)

print("test2")

124
test1
Index(['Unnamed: 0', 'sadmdte', 'dschdte', 'dthdte', 'lstctdte', 'age', 'edu',
       'surv2md1', 'das2d3pc', 't3d30',
       ...
       'OneHot_adld3p_6.0', 'OneHot_adld3p_7.0', 'OneHot_adld3p_Missing_Data',
       'OneHot_race_other', 'OneHot_race_black', 'OneHot_race_white',
       'OneHot_income_> $50k', 'OneHot_income_Under $11k',
       'OneHot_income_$11-$25k', 'OneHot_income_$25-$50k'],
      dtype='object', length=124)
test2

/home/paulm/Bureau/codes/rhc_dataset/../one_hot_module_repo/one_hot_module/one_hot_module.py:111: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  self.df[new_name] =  self.df[column_title].apply(lambda x: ratio if x == category else 0)
/home/paulm/Bureau/codes/rhc_dataset/../one_hot_module_repo/one_hot_module/one_hot_module.py:111: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  self.df[new_name] =  self.df[column_title].apply(lambda x: ratio if x == category else 0)
/home/paulm/Bureau/codes/rhc_dataset/../one_hot_module_repo/one_hot_module/one_hot_module.py:111: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  self.df[new_name] =  self.df[column_title].apply(lambda x: ratio if x == category else 0)
/home/paulm/Bureau/codes/rhc_dataset/../one_hot_module_repo/one_hot_module/one_hot_module.py:111: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  self.df[new_name] =  self.df[column_title].apply(lambda x: ratio if x == category else 0)
/home/paulm/Bureau/codes/rhc_dataset/../one_hot_module_repo/one_hot_module/one_hot_module.py:111: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  self.df[new_name] =  self.df[column_title].apply(lambda x: ratio if x == category else 0)
/home/paulm/Bureau/codes/rhc_dataset/../one_hot_module_repo/one_hot_module/one_hot_module.py:111: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  self.df[new_name] =  self.df[column_title].apply(lambda x: ratio if x == category else 0)
/home/paulm/Bureau/codes/rhc_dataset/../one_hot_module_repo/one_hot_module/one_hot_module.py:111: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  self.df[new_name] =  self.df[column_title].apply(lambda x: ratio if x == category else 0)
/home/paulm/Bureau/codes/rhc_dataset/../one_hot_module_repo/one_hot_module/one_hot_module.py:111: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  self.df[new_name] =  self.df[column_title].apply(lambda x: ratio if x == category else 0)
/home/paulm/Bureau/codes/rhc_dataset/../one_hot_module_repo/one_hot_module/one_hot_module.py:111: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  self.df[new_name] =  self.df[column_title].apply(lambda x: ratio if x == category else 0)
/home/paulm/Bureau/codes/rhc_dataset/../one_hot_module_repo/one_hot_module/one_hot_module.py:111: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  self.df[new_name] =  self.df[column_title].apply(lambda x: ratio if x == category else 0)
/home/paulm/Bureau/codes/rhc_dataset/../one_hot_module_repo/one_hot_module/one_hot_module.py:111: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  self.df[new_name] =  self.df[column_title].apply(lambda x: ratio if x == category else 0)
/home/paulm/Bureau/codes/rhc_dataset/../one_hot_module_repo/one_hot_module/one_hot_module.py:111: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  self.df[new_name] =  self.df[column_title].apply(lambda x: ratio if x == category else 0)
/home/paulm/Bureau/codes/rhc_dataset/../one_hot_module_repo/one_hot_module/one_hot_module.py:111: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  self.df[new_name] =  self.df[column_title].apply(lambda x: ratio if x == category else 0)
/home/paulm/Bureau/codes/rhc_dataset/../one_hot_module_repo/one_hot_module/one_hot_module.py:111: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  self.df[new_name] =  self.df[column_title].apply(lambda x: ratio if x == category else 0)
/home/paulm/Bureau/codes/rhc_dataset/../one_hot_module_repo/one_hot_module/one_hot_module.py:111: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  self.df[new_name] =  self.df[column_title].apply(lambda x: ratio if x == category else 0)
/home/paulm/Bureau/codes/rhc_dataset/../one_hot_module_repo/one_hot_module/one_hot_module.py:111: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  self.df[new_name] =  self.df[column_title].apply(lambda x: ratio if x == category else 0)
/home/paulm/Bureau/codes/rhc_dataset/../one_hot_module_repo/one_hot_module/one_hot_module.py:111: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  self.df[new_name] =  self.df[column_title].apply(lambda x: ratio if x == category else 0)
/home/paulm/Bureau/codes/rhc_dataset/../one_hot_module_repo/one_hot_module/one_hot_module.py:111: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  self.df[new_name] =  self.df[column_title].apply(lambda x: ratio if x == category else 0)

In [20]:
print(len(my_column_manager.df.columns))
print(my_column_manager.df.columns)

124
Index(['Unnamed: 0', 'sadmdte', 'dschdte', 'dthdte', 'lstctdte', 'age', 'edu',
       'surv2md1', 'das2d3pc', 't3d30',
       ...
       'OneHot_adld3p_6.0', 'OneHot_adld3p_7.0', 'OneHot_adld3p_Missing_Data',
       'OneHot_race_other', 'OneHot_race_black', 'OneHot_race_white',
       'OneHot_income_> $50k', 'OneHot_income_Under $11k',
       'OneHot_income_$11-$25k', 'OneHot_income_$25-$50k'],
      dtype='object', length=124)

In [21]:
print(len(unsure))
print(unsure)

8
['edu', 't3d30', 'scoma1', 'resp1', 'alb1', 'sod1', 'pot1', 'ph1']

In [22]:
non_numeric_mask = my_column_manager.df.apply(pd.to_numeric, errors='coerce').isna() & ~my_column_manager.df.isna()

# Get the names of columns with at least one non-numeric value other than NaN
columns_with_non_numeric = non_numeric_mask.any()

# Display the names of columns with at least one non-numeric value other than NaN
print(columns_with_non_numeric[columns_with_non_numeric].index.tolist())

['dschdte', 'dthdte', 'urin1']

In [23]:
df_prob = my_column_manager.df[['dschdte', 'dthdte', 'urin1']]

In [24]:
df_prob.head()

   dschdte        dthdte         urin1
0  11151.0  Missing_Data  Missing_Data
1  11844.0       11844.0        1437.0
2  12143.0  Missing_Data         599.0
3  11183.0       11183.0  Missing_Data
4  12037.0       12037.0          64.0

In [25]:
target = my_column_manager.df['dschdte'].astype(str)

string_to_find = 'Missing_Data'
is_string_present = target.str.contains(string_to_find)
print(f"is present : {is_string_present}")


my_cell = my_column_manager.df.astype(str).at[4682, "dschdte"]
print(f'cellule : {my_cell}')

is present : 0       False
1       False
2       False
3       False
4       False
        ...
5730    False
5731    False
5732    False
5733    False
5734    False
Name: dschdte, Length: 5735, dtype: bool
cellule : Missing_Data

In [26]:
# Filter the rows where the string "Missing_Data" is present
rows_with_string = my_column_manager.df[is_string_present]

# Display the filtered rows
print(rows_with_string)

      Unnamed: 0  sadmdte       dschdte   dthdte  lstctdte       age   edu  \
4682        4683    12386  Missing_Data  12780.0     12582  49.54999  10.0

      surv2md1  das2d3pc  t3d30  ...  OneHot_adld3p_6.0  OneHot_adld3p_7.0  \
4682     0.782  15.40625     30  ...                  0                  0

      OneHot_adld3p_Missing_Data  OneHot_race_other  OneHot_race_black  \
4682                           1                  0                  0

      OneHot_race_white  OneHot_income_> $50k  OneHot_income_Under $11k  \
4682                  1                     0                         0

      OneHot_income_$11-$25k  OneHot_income_$25-$50k
4682                       0                       1

[1 rows x 124 columns]

In [27]:
# Replace "Missing_Data" with NaN for all columns
my_column_manager.df = my_column_manager.df.replace('Missing_Data', np.nan).infer_objects(copy=False)

# Convert all columns to numeric
my_column_manager.df = my_column_manager.df.apply(pd.to_numeric, errors='coerce')

# Calculate the average of each column
column_means = my_column_manager.df.mean(skipna=True)

# Fill NaN values with column means
df = my_column_manager.df.fillna(column_means)

/tmp/ipykernel_5889/663947305.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  my_column_manager.df = my_column_manager.df.replace('Missing_Data', np.nan).infer_objects(copy=False)

In [28]:
print(df.at[1, "dschdte"])

11844.0

In [29]:

# Convert specific columns to numeric, coercing non-numeric values to NaN
numeric_df = df.apply(pd.to_numeric, errors='coerce')

# Check if there are any NaN values
has_non_numeric_values = numeric_df.isna().any().any()

if has_non_numeric_values:
    print("There are non-numeric values in the DataFrame.")
else:
    print("There are no non-numeric values in the DataFrame.")

There are no non-numeric values in the DataFrame.

In [30]:
my_column_manager._categorial_columns_data.keys()

dict_keys(['cat1', 'cat2', 'ca', 'death', 'cardiohx', 'chfhx', 'dementhx', 'psychhx', 'chrpulhx', 'renalhx', 'liverhx', 'gibledhx', 'malighx', 'immunhx', 'transhx', 'amihx', 'sex', 'dth30', 'swang1', 'dnr1', 'ninsclas', 'resp', 'card', 'neuro', 'gastr', 'renal', 'meta', 'hema', 'seps', 'trauma', 'ortho', 'adld3p', 'race', 'income'])

In [31]:

for col in my_column_manager.df.columns :
    if 'swang1' in col :
        print(col)

OneHot_swang1_No RHC
OneHot_swang1_RHC

In [32]:
all_continuous = continuous + unsure


# my_column_manager.nomrmalize_column('age')


my_column_manager.nomrmalize_multiple_columns(all_continuous)

In [33]:



# my_column_manager.reverse_nomrmalize_all_columns()

In [34]:

my_column_manager.reconstruct_column('swang1')

# Set the option to opt-in to the future behavior for downcasting
pd.set_option('future.no_silent_downcasting', True)
# Your existing code
my_column_manager.df['swang1'] = my_column_manager.df['swang1'].replace({'RHC': 1, 'No RHC': 0}).infer_objects(copy=False)

In [35]:
# Save the DataFrame to a CSV file
my_column_manager.df.to_csv('rhc_preprocessed.csv', index=False)